.large-hero{
    position: relative;
}

.large-hero__text-content{
    /*colocar elementos esquina superior izquierda*/
    position: absolute;
    /*centrar vertical*/
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    /*centrar horizontal*/
    width: 100%;
    text-align: center;
    /*centrar vertical*/

}